//@reference http://sachagreif.com/sass-color-variables/

/* -------------------------------------------------------------------------*/
/* Descriptive
 * @purpose define the colors
 * @naming_convention generalColor_tintOrShade
 */

$white: #fff;
$black: #000;
$blue: #6DA4BC;
$blue_dark: darken($blue,10%);

/* -------------------------------------------------------------------------*/
/* Functional
 * @purpose where colors will be used
 * @naming_convention contentType_purpose_specify
 */

/* General */
$bodyFonts: $black;
$select_color: $blue_dark;
$select_borderColor: $blue_dark;

/* Buttons & CTAs */
$ctaLink: $blue_dark !default;
$ctaLink_hover: $blue;

/* Nav */
$navLinks_bkgdColor: lighten($blue,20%);
$navLinks_color: $black;
$navLinks_color_hover: lighten($navLinks_color,90%);

/* Content Blocks */
$helpFlag_bkgdColor: $blue;
$newFlag_bkgdColor: $white;