@mixin clearfix {
	clear: both;
	&:after {
		content: " ";
		display: table;
		clear: both;
		height: 0;
	}
}

@mixin cta_arrow($direction:"right", $size:"1em") {
	//@debug $direction;//outputs any errors in terminal (where compass is watching)
	position: relative;
	padding-#{$direction}: px-to-em(10px);
	color: $ctaLink;
	&:after {
		font-size: $size;
		position: absolute;
		#{$direction}: 0;

		@if $direction == "right" {
			content: ">";
		} @else if $direction == "left" {
			content: "<";
		}
	}
	&:hover, &:focus {
		color: $ctaLink_hover;
	}
}

@mixin icons {
	//sass idea from http://12devs.co.uk/articles/handy-advanced-sass/
	$icons: blue red yellow orange purple black;

	@each $icon in $icons {
		.#{$icon}-cat {
			height: 50px;
			width: 50px;
			background-image: url('../img/#{$icon}-cat.gif');//img from http://www.snap2objects.com/2009/01/11-cat-vector-silhouettes/
			text-indent: -999999px;
			display: inline-block;
			margin: 5px;
		}
	}
}
