@mixin clearfix {
	clear: both;
	&:after {
		content: " ";
		display: table;
		clear: both;
		height: 0;
	}
}

@mixin cta_arrow($direction:"right", $size:"1em") {
	//@debug $direction;//outputs any errors in terminal (where compass is watching)
	position: relative;
	padding-#{$direction}: px-to-em(10px);
	color: $ctaLink;
	&:after {
		font-size: $size;
		position: absolute;
		#{$direction}: 0;

		@if $direction == "right" {
			content: ">";
		} @else if $direction == "left" {
			content: "<";
		}
	}
	&:hover, &:focus {
		color: $ctaLink_hover;
	}
}
