/* 5 - keep in code */
@function px-to-em($px, $base:16px){
  @return ($px / $base) * 1em;
}

@function nested-em($parentEM, $childEM){
	@return $childEM/$parentEM+em;
}

/* 1 - keep in code */
@mixin clearfix {
	clear: both;
	&:after {
		content: " ";
		display: table;
		clear: both;
		height: 0;
	}
}
/**/

/* 1 - create partially w/just size argument (no default value specified) */
/* 4 - give size argument default value */
/* 6 - add direction argument, interpolate just the absolute right or left */
/* 10 - add @if */
/* 11 - add and test @debug */
/* 12 - add and test @warn */
@mixin cta_arrow($direction:"right", $size:"1em") {
	//@debug $direction;//outputs any errors in terminal (where compass is watching)
	
	position: relative;
	padding-#{$direction}: px-to-em(10px);
	color: $ctaLink;
	&:after {
		font-size: $size;
		position: absolute;
		#{$direction}: 0;/* 6 */

		@if $direction == "right" {
			content: ">";
		} @else if $direction == "left" {
			content: "<";
		} @else {
			@warn "No direction specified, used default 'right'";
		}
	}
	&:hover, &:focus {
		color: $ctaLink_hover;
	}
}
/**/

/* 7 - write this out together, have them add and remove icons to experiment */
@mixin footer_icons {//sass idea from http://12devs.co.uk/articles/handy-advanced-sass/
	$icons: blue red yellow orange purple black;

	@each $icon in $icons {
		.#{$icon}-cat {
			height: 50px;
			width: 50px;
			background-image: url('../img/#{$icon}-cat.gif');//img from http://www.snap2objects.com/2009/01/11-cat-vector-silhouettes/
			text-indent: -999999px;
			display: inline-block;
			margin: 5px;
		}
	}
}
/**/

/* 9 - build together */
@mixin navDepth($depth:6){
	@while $depth > 0 {
		.level-#{$depth} {
			//width: 6em * $depth;
			$percentage: ($depth * 3)+0%;
			background-color: darken($navLinks_bkgdColor,$percentage);
		}
		$depth: $depth - 1;
	}
}
/**/