@function px-to-em($px, $base:16px){
  @return ($px / $base) * 1em;
}

@function nested-em($parentEM, $childEM){
	@return $childEM/$parentEM+em;
}

@mixin clearfix {
	clear: both;
	&:after {
		content: " ";
		display: table;
		clear: both;
		height: 0;
	}
}
